@font-face {
  font-family: "minecraft";
  src: url(../assets/minecraft.ttf) format("truetype");
}

#game {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

body {
  background-image: url('../assets/backgrounds/default_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'minecraft';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: red;
  overflow: hidden;
}

button {
  font-family: 'minecraft';
  font-size: medium;
}

.buttonAnswer {
  background-image: url('../assets/button.jpg');
  min-width: 20em;
  max-width: 40em;
  background-size: 100% 100%;
  margin: 0.5em;
}

.container {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: min-content;
}

.question {
  border: none;
}

#score, #lives {
  color: red;
  font-size: xx-large;
}

.soundImage {
  max-width: 4em;
  max-height: 4em;
}

#sound {
  display: none;
}

.finalScore {
  color: red;
  font-size: x-large;
}

.lives {
  width: 2em;
  height: 2em;
}

.disclaimer {
  color: red;
  font-size: small;
  position: 'fixed';
  bottom: 0;
}
