@font-face {
  font-family: "minecraft";
  src: url(../assets/minecraft.ttf) format("truetype");
}

body {
  background-image: url('../assets/backgrounds/default_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'minecraft';
  text-shadow: 2px 2px 3px black;
  color: red;
}

button {
  font-family: 'minecraft';
  font-size: medium;
}

.buttonAnswer {
  background-image: url('../assets/button.jpg');
  min-width: 40em;
  min-height: 5em;
  max-width: 40em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0.5em;
  padding: 1em;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: min-content;
}

.question {
  border: none;
  margin-bottom: 3em;
}

#score, #lives {
  color: red;
  font-size: xx-large;
}

.finalScore {
  text-align: center;
  color: red;
  font-size: xxx-large;
}

.lives {
  width: 2em;
  height: 2em;
}
